{% extends "base.html" %} {% load static %} {% block head_title %}
Manage Tasks
{% endblock %}
{% block new_content %}
<div id="auth-wrapper" class="font-[sans]">
 <div class="p-4 sm:ml-64">
   <div class="max-w-screen-xl mt-16">
     <!-- Start coding here -->
     <div class="bg-whiterelative overflow-hidden">
       <div class="w-full p-2 text-left">
         <h1
           class="text-left pl-4 custom-header"
         >
           Manage Tasks
         </h1>
       </div>
     </div>
   </div>
   <div id="addUserButton" class="flex items-center justify-between">
     <div class="pl-5 flex items-center">
       <!-- Add User Button on the Right -->
       <div class="relative mt-[20px]">
           <button
               id="addTask"
               type="button"
               class="mb:ml-0 mb:text-[11px] px-[22.5px] py-2 text-[12px] font-semibold text-center inline-flex items-center text-[#126556] border border-[#B8EBE1] bg-[#B8EBE1] focus:outline-none rounded mr-2 mb-2 "
           >
               Add Task
           </button>
       </div>
     </div>
   </div>
    <div id="tasksTable" class="">
     <div class="overflow-x-auto pl-4 pr-4 pb-4">
       <table
         id="alltasksTable"
         class="text-[0.72rem] text-gray-500 shadow-md rounded-lg w-full mb:text-[10px]"
       >
         <thead
           class="whitespace-nowrap text-gray-700 uppercase bg-gray-50 text-left"
         >
           <tr>
             <th scope="col" class="px-4 py-4">SL/No.</th>
             <th scope="col" class="px-4 py-4">Task Name</th>
             <th scope="col" class="px-4 py-4">Task Description</th>
             <th scope="col" class="px-4 py-4">Status</th>
             <th scope="col" class="px-4 py-4">Deadline</th>
             <th scope="col" class="px-4 py-3">Project</th>
             <th scope="col" class="px-4 py-3">Assigned to</th>
             <th scope="col" class="px-4 py-3">Created By</th>
             <th scope="col" class="px-4 py-3">Edit</th>
           </tr>
         </thead>
         <tbody class="whitespace-nowrap">


         </tbody>
       </table>
     </div>
   </div>
  </div>
</div>
<!-- popup modal -->
{% include "pages/add_task.html"%}
{% include "pages/edit_task.html"%}


{% endblock %}


{% block js_cdn %}
<script src="{% static 'js/add_task.js' %}"></script>
<script src="{% static 'js/edit_tasks.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
  var userData = localStorage.getItem('user_data');

  if (userData) {
    var userDataObject = JSON.parse(userData);
    var userRole = userDataObject.role;
    if (userRole === 'Employee') {
      var addUserButton = document.getElementById('addUserButton')
      if (addUserButton) { 
        addUserButton.style.display = 'none'
      }
    }
  }
});
</script>
<script>
  document.addEventListener("DOMContentLoaded", (e) => {
    e.preventDefault();
    const tasksTableId = document.getElementById("alltasksTable");
    const tasksTable = new DataTable(tasksTableId, {
      lengthChange: false,
      serverSide: true,
      processing: true,
      ajax: {
        url: `${base_url}/projects/tasks_listing/`,
        type: "GET",
        headers: {
          Authorization: `Token ${localStorage.getItem("token")}`,
        },
        data: function (d) {
          return [];
        },
        dataSrc: function (json) {
          return json
        },
      },
      order: [[1, "asc"]],
      info: false, // Remove the "Showing 1 to 3 of 3 entries" text
      searching: false,
      paging: false,
      columns: [
        {
          data: null,
          render: function (data, type, row, meta) {
            return meta.row; // For sorting or other types, return the row index
          },
        },
        { data: "name"},
        { data: "description"},
        { data: "status"},
        { data: "deadline"},
        { data: "project_name"},
        { data: "assigned_to_username"},
        { data: "created_by_username"},
        {
          data: null,
          render: function (data, type, row) {
            return `
            <button type="button"  class="editTask mb:px-[6.5px] mb:text-[10px] mb:w-auto w-[145px] px-[28px] py-[10px] text-xs font-semibold text-center inline-flex items-center focus:outline-none text-[#0066C3] bg-[#C3E3FF] rounded-lg mr-2 mb-2 dark:bg-[#BBECBE]" style="display: flex; justify-content: center; align-items: center;">Edit</button>`;
          },
        },
      ],
      dom: "QBfrtip",
      buttons:[
        {}
      ]
    });
    const dataTableRefresh = () =>{
      tasksTable.ajax.reload();
    }
    tasksTableId.addEventListener("click", function (event) {
     event.preventDefault();
     var target = event.target;
     var row = target.closest("tr");
     var rowData = tasksTable.row(row).data();
     if (target && (target.matches(".editTask") || target.closest(".editTask"))) {
         // pass table ref to edit function for refresh
       openTaskEditModal(rowData,dataTableRefresh);
      
     }
    });
     
    });
</script>
{% endblock %}



